<a href="https://colab.research.google.com/github/silverstar0727/dacon-practice/blob/main/credit_prediction/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pip install -q tensorflow-data-validation

In [3]:
import os

DATA_ROOT = '/content/drive/MyDrive/ml/dacon-신용카드/data'
TRAIN = os.path.join(DATA_ROOT, 'train.csv')
TEST = os.path.join(DATA_ROOT, 'test.csv')
SUBMISSION = os.path.join(DATA_ROOT, 'sample_submission.csv')

In [4]:
import pandas as pd

train = pd.read_csv(TRAIN)
test = pd.read_csv(TEST)

In [5]:
import tensorflow_data_validation as tfdv
train_stats = tfdv.generate_statistics_from_csv(data_location= TRAIN)
tfdv.visualize_statistics(train_stats)

WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.

WARNING:apache_beam.io.tfrecordio:Couldn't find python-snappy so the implementation of _TFRecordUtil._masked_crc32c is not as fast as it could be.

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow_data_validation/utils/stats_util.py:247: tf_record_iterator (from tensorflow.python.lib.io.tf_record) is deprecated and will be removed in a future version.
Instructions for updating:
Use eager execution and:
`tf.data.TFRecordDataset(path)`

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow_data_validation/utils/stats_util.py:247: tf_record_iterator (from tensorflow.python.lib.io.tf_record) is deprecated and will be removed in a future version.
Instructions for updating:
Use eager execution and:
`tf.data.TFRecordDataset(path)`

In [13]:
fea = ['gender', 'car', 'reality', 'income_type', 'edu_type', 'family_type', 'house_type', 'occyp_type', 'credit']
for i in fea:
  print('\n', i)
  print(pd.value_counts(train[i]))

 gender
F    17697
M    8760
Name: gender, dtype: int64

 car
N    16410
Y    10047
Name: car, dtype: int64

 reality
Y    17830
N    8627
Name: reality, dtype: int64

 income_type
Working                 13645
Commercial associate    6202
Pensioner               4449
State servant           2154
Student                 7
Name: income_type, dtype: int64

 edu_type
Secondary / secondary special    17995
Higher education                 7162
Incomplete higher                1020
Lower secondary                  257
Academic degree                  23
Name: edu_type, dtype: int64

 family_type
Married                 18196
Single / not married    3496
Civil marriage          2123
Separated               1539
Widow                   1103
Name: family_type, dtype: int64

 house_type
House / apartment      23653
With parents           1257
Municipal apartment    818
Rented apartment       429
Office apartment       190
Co-op apartment        110
Name: house_type, dtype: int64

 occyp_type
Laborers                 4512
Core staff               2646
Sales staff              2539
Managers                 2167
Drivers                  1575
High skill tech staff    1040
Accountants              902
Medicine staff           864
Cooking staff            457
Security staff           424
Cleaning staff           403
Private service staff    243
Low-skill Laborers       127
Waiters/barmen staff     124
Secretaries              97
Realty agents            63
HR staff                 62
IT staff                 41
Name: occyp_type, dtype: int64

 credit
2.0    16968
1.0    6267
0.0    3222
Name: credit, dtype: int64

In [6]:
schema = tfdv.infer_schema(statistics = train_stats)
tfdv.display_schema(schema=schema)

                   Type  Presence Valency         Domain
Feature name
'gender'         STRING  required               'gender'
'car'            STRING  required                  'car'
'reality'        STRING  required              'reality'
'income_type'    STRING  required          'income_type'
'edu_type'       STRING  required             'edu_type'
'family_type'    STRING  required          'family_type'
'house_type'     STRING  required           'house_type'
'occyp_type'     STRING  optional  single   'occyp_type'
'index'             INT  required                      -
'child_num'         INT  required                      -
'income_total'    FLOAT  required                      -
'DAYS_BIRTH'        INT  required                      -
'DAYS_EMPLOYED'     INT  required                      -
'FLAG_MOBIL'        INT  required                      -
'work_phone'        INT  required                      -
'phone'             INT  required                      -
'email'             INT  required                      -
'family_size'     FLOAT  required                      -
'begin_month'     FLOAT  required                      -
'credit'          FLOAT  required                      -

/usr/local/lib/python3.7/dist-packages/tensorflow_data_validation/utils/display_util.py:180: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('max_colwidth', -1)

                                                                                                                                                                                                                                                                                                                     Values
Domain
'gender'       'F', 'M'
'car'          'N', 'Y'
'reality'      'N', 'Y'
'income_type'  'Commercial associate', 'Pensioner', 'State servant', 'Student', 'Working'
'edu_type'     'Academic degree', 'Higher education', 'Incomplete higher', 'Lower secondary', 'Secondary / secondary special'
'family_type'  'Civil marriage', 'Married', 'Separated', 'Single / not married', 'Widow'
'house_type'   'Co-op apartment', 'House / apartment', 'Municipal apartment', 'Office apartment', 'Rented apartment', 'With parents'
'occyp_type'   'Accountants', 'Cleaning staff', 'Cooking staff', 'Core staff', 'Drivers', 'HR staff', 'High skill tech staff', 'IT staff', 'Laborers', 'Low-skill Laborers', 'Managers', 'Medicine staff', 'Private service staff', 'Realty agents', 'Sales staff', 'Secretaries', 'Security staff', 'Waiters/barmen staff'